@model FriendMaster

@{
    ViewData["Title"] = "Friends";
}

<h2>Friends</h2>

<br />

<table>
    <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var friend in Model.UserList.Where(i => !i.Blocked))
        {
            <tr>
                <td>
                    @if (friend.ProfileImage == null)
                    {
                        <i class="fas fa-user-circle profile-image"></i>
                    }
                    else
                    {
                        <img class="profile-image" src="data:image;base64,@friend.ConvertedImage" alt="@friend.AlternativeText" />
                    }
                </td>
                <td>@friend.UserName</td>
                <td>@friend.Name</td>
                <td>
                    @if (!friend.Accepted)
                    {<span>Request Sent</span>
                        <form asp-controller="Account" asp-action="RemoveFriend" method="post">
                            <input name="FriendUserID" value="@friend.Id" type="hidden" />
                            <button type="submit">Cancel Request</button>
                        </form>}
                    else
                    {
                        <form asp-controller="Account" asp-action="RemoveFriend" method="post">
                            <input name="FriendUserID" value="@friend.Id" type="hidden" />
                            <button type="submit">Remove</button>
                        </form>
                    }
            </td>
        </tr>
    }
    </tbody>
</table>

<br />

<h2>Search</h2>

<div class="content-sign-in">
    <form asp-controller="Account" asp-action="SearchUsers" method="post" class="load-partial" attr-partial="SearchResult">

        <div class="container-input">
            <div class="input">
                <label asp-for="SearchName"></label>
                <input asp-for="SearchName" />
            </div>
            <span asp-validation-for="SearchName"></span>
        </div>

        <div class="container-center">
            <button type="submit">Search</button>
        </div>

    </form>
</div>

<div id="SearchResult"></div>