@model LocationView

@{
    ViewData["Title"] = Model.LocationName;
}

<h2>@Model.LocationName</h2>

<a asp-controller="Warehouse" asp-action="CreateStore" asp-route-id="@Model.LocationID">Add Store</a>
<form asp-controller="Warehouse" asp-action="DeleteLocation" method="post">
    <input asp-for="LocationID" type="hidden" />
    <button type="submit">Delete Location</button>
</form>

<br />

@foreach (var store in Model.Stores)
{
    <a asp-controller="Warehouse" asp-action="Store" asp-route-id="@store.StoreID">
        @store.StoreName (@store.Items.Sum(i => i.Quantity) items of @store.Items.Count products)
    </a>
    <ul>
        @foreach (var item in store.Items.OrderByDescending(i => i.Quantity).Take(3))
        {
            <li>@item.ItemName (Qty. @item.Quantity)</li>
        }
    </ul>

}
